<div id="nav_bar">
  <ul id="nav" class="clearfix">
    <!-- <li><%= link_to 'Post an Opinion', new_opinion_path %></li> -->
    <li><%= link_to '.thoughts', root_path %></li>
    <li><%= link_to '.resume', resume_path %></li>
    <% if signed_in? %>
      <li><%= link_to '.sign out', sign_out_path %></li>
    <% else %>
      <li><%= link_to '.sign in', sign_in_path %></li>
    <% end %>
  </ul>
</div><!-- nav_bar -->

