<%- unless @posts.empty? -%>
  <%- first_post = @posts.shift -%>
  <div class="post">
    <h2 class="main_title"><%= link_to first_post.title, post_path(first_post) %></h2>
    <div class="updated_at">Updated: <%= time_ago_in_words first_post.updated_at %> ago</div>
    <div class="post_body"><%= first_post.body %></div>
    <div class="created_at">Created: <%= time_ago_in_words first_post.created_at %> ago</div>
  </div>
  <%- content_for(:sidebar) do -%>
    <h3 class="sub_title">{ Posts }</h3>
    <ul class="posts_menu">
      <% if signed_in? -%>
        <li><%= link_to 'New Post', new_post_path %></li>
      <%- end -%>
      <% @posts.each do |post| -%>
        <li><%= link_to post.title, post_path(post) %></li>
      <%- end %>
    </ul>
  <%- end -%>
<%- end -%>
