!!!
%html
  %head
    %title Developing Thoughts
    = stylesheet_link_tag('reset')
    = stylesheet_link_tag('typography')
    = stylesheet_link_tag('fonts')
    = stylesheet_link_tag('grid')
    = stylesheet_link_tag('tools')
    = stylesheet_link_tag('main')
    - analytical.identify current_user.id, :email => current_user.email if current_user
    = raw analytical.head_javascript
    = javascript_include_tag('main')
  %body
    = raw analytical.body_prepend_javascript
    #content_wrapper
      #header.clearfix
        %h1.right { developing.thoughts }
      / header
      = render :partial => 'shared/nav'
      = render :partial => 'shared/flashes'
      #content.clearfix
        = yield(:content) or yield
    / content_wrapper
  = raw analytical.body_append_javascript
