<!DOCTYPE HTML>
<html>
  <head>
    <title>Developing Thoughts</title>

    <%= stylesheet_link_tag('reset') %>
    <%= stylesheet_link_tag('typography') %>
    <%= stylesheet_link_tag('fonts') %>
    <%= stylesheet_link_tag('grid') %>
    <%= stylesheet_link_tag('tools') %>
    <%= stylesheet_link_tag('main') %>

    <%= javascript_include_tag('main') %>
  </head>
  <body>
    <div id="content_wrapper">
      <div id="header" class="clearfix">
        <h1 class="right">{ developing.thoughts }</h1>
      </div><!-- header -->
      <%= render :partial => 'shared/nav' %>
      <%= render :partial => 'shared/flashes' %>
      <div id="content" class="clearfix">
        <%= yield(:content) or yield %>
      </div>
    </div><!-- content_wrapper -->
  </body>
</html>
